<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.template.mapper.TemplateMapper">

    <!-- 通用查询映射结果，要注意与数据库字段保持一致 -->
    <resultMap id="templateResultMap" type="org.springblade.modules.template.entity.Template">
        <id column="id" property="id"/>
        <result column="template_name" property="templateName"/>
        <result column="template_value" property="templateValue"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectTemplatePage" resultMap="templateResultMap">
        select * from template where is_deleted = 0
    </select>

</mapper>
