<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.system.messagesToUserId.mapper.MessagesToUserIdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="messagestouseridResultMap" type="org.springblade.modules.system.messagesToUserId.entity.MessagesToUserId">
        <id column="id" property="id"/>
        <result column="messages_id" property="messagesId"/>
        <result column="to_user_id" property="toUserId"/>
    </resultMap>


    <select id="selectMessagestouseridPage" resultMap="messagestouseridResultMap">
        select * from MessagesToUserId where is_deleted = 0
    </select>

</mapper>
